$color-white: white;
$color-green-light: #C5F8C9;
$color-green-dark: #63B22F;
$color-gray-light: #F5F5F5;
$color-gray-dark: #777;
$color-gray-dark-2: #252525;
$color-black: #0C0F1F;
$color-darkblue: #2D4156;
$color-lightblue: #A3D1D5;
$color-lightblue-2: #DBEBEA;
$color-lightred: #FAA6A6;

$img-radius: .3rem;