
// Navbar
.navbar {
  padding: 0;
}


.navbar-title {
  color: $color-white;
  font-weight: 900;
}

.menu-text{
  color: $color-white;
  font-weight: bold;
  
  &:hover {
    color: $color-black;
  }
}

// Nav
.navbar-logo {
  max-height: 100px;
}


/* Transition on hover
.nav-link {
  
  transition: transform 0.2s;
  
  &:hover {
    transform: translateY(0.1rem) scale(1.1);
    background-color: $color-lightblue;
  }
  
}*/

// Logos (.bi)
nav .nav-link i, nav .dropdown-item i {
  font-size: 400;
  color: darkgreen;
  background-color: yellow;
  
  &:hover {
    color: red;
    background-color: orangered;
  }
  
}