
.card {
  
  &-courses {
    text-align: center;
    padding: 1rem;
    
    & h3 {
      font-size: 1rem;
    }
    
    & p {
      font-size: 0.8rem;
    }
  }
  
}

// Course cards
.card-course {

  
  &-title {
    color: $color-darkblue;
    font-weight: bold;
  }
  
  &-mode {
    background-color: $color-gray-light;
  }
  
  &-btn {
    background-color: $color-darkblue;
    font-size: 1rem;
    
  }
  
}