
.card {
  
  &-img-top {
    border-radius: $img-radius;
  }
  
  &-courses {
    text-align: center;
    padding: 1rem;
    
    & h3 {
      font-size: 1rem;
    }
    
    & p {
      font-size: 0.8rem;
    }
  }
  
}


// Course cards
.card-course {
  
  border: 1px solid $color-darkblue;
  border-radius: $img-radius;
  
  &-title {
    color: $color-darkblue;
    font-weight: bold;
    height: 5rem;

  }
  
  &-mode {
    background-color: $color-gray-light;
  }
  
  &-btn {
    background-color: $color-darkblue;
    font-size: 1rem;
    
  }
  
}