
// CARDS ----------------------------------------------

// Description Text
.quarto-grid-item.card-center .listing-description {
  text-align: center;
}

// Center Date section (only when date available)
.quarto-grid-item .card-attribution.end {
    justify-content: center;
}

// Filter and order by buttons
.listing-actions-group {
    display: flex;
    flex-wrap: wrap;
}

.quarto-listing-filter {
  margin-left: unset;
}