
// Align categories
.quarto-title .quarto-categories {
  justify-content: center;
}

// Code
div.sourceCode {
  padding: .3rem;
}

.sourceCode {
  border-radius: 3px;
  padding: 0.5em;
  overflow: auto;
  border: 0.2rem solid $color-white;
}

pre {
  background-color: $color-lightblue-2;
  border: 1px solid;
  font-weight: 400;
}
