
.course-banner {
  background-color: $color-gray-light;
  text-align: center;
  

  &--icon {
    color: $color-darkblue;
    padding-top: 2rem;
  }
  
  &--text {
    color: $color-black;
    text-transform: none;
    text-align: center;
    font-size: 1.1rem;
    font-weight: bold;
  }
  
  &--image {
    max-width: 100%;
  }
  
  &--title {
    margin-top: 1rem;
  }
}

