
// Course link
.course-link {
  margin-top: 2rem;
  
  &--button {
    align-content: center;
    display: flex;
    max-width: 60%;
    margin: auto;
    justify-content: center;
    background-color: $color-lightred;
    color: $color-darkblue;
    font-size: 1.5rem;
    padding: 1.5rem;
    margin-bottom: 1rem;
  }
  
}

// Course description
.course-description {
  
  margin-top: 2rem;
  
  &--title {
    text-align: center;
  }
  
  &--text {
    color: $color-darkblue;
  }
  
}

// Course contents
.course-curriculum {
  margin-top: 2rem;
 // background-color: $color-gray-light;
}

// Accordion
.accordion-item {
  background-color: $color-lightblue;
  border: 0;
}

.accordion-button,
.accordion-button:focus,
.accordion-button:not(.collapsed) {
  background-color: $color-darkblue;
  font-size: 1rem;
  color: $color-white;
  border-radius: 1rem;
}

.accordion-collapse--course {
  background-color: $color-gray-light;
  color: $color-darkblue;
}

.accordion-header {
  margin-top: 0;
  max-width: 60%;
  position: relative;
  left: 50%;
  transform: translate(-50%);
}

.accordion-body {
  max-width: 60%;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  
  & strong {
    font-size: 1.2rem;
    text-transform: uppercase;
    text-decoration: underline;
  }
  
}