.jumbotron {
  margin-top: 2rem;
  padding: 3rem;
  border-radius: 1rem;
  position: relative; 
  width: 100%;

  &-title {
    position: relative; 
    z-index: 1;
    font-size: 3rem;
  }
  
  &-text {
    z-index: 1;
    color: $color-black;
    position: relative;
    width: 50%;
  }

  &-courses {
    height: 50vh;
    width: 100%;

    // Create an overlay pseudo-element 
    &::after {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-image: url("../../assets/figures/jumbo.png");
      background-size: cover;
      opacity: 0.25;
      z-index: 0;
    }
  }
}
