
.card {
  
  &-img--container {
    height: 13rem;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden; // This will ensure the image does not overflow the container 
  }

  &-img--text {
    border-radius: $img-radius;
    max-height: 100%;
    max-width: 100%;
    object-fit: cover; 
  }
  
  &-courses {
    text-align: center;
    padding: 1rem;
    
    & h3 {
      font-size: 1rem;
    }
    
    & p {
      font-size: 0.8rem;
    }
  }
  
}

// Course cards
.card-course {
  
  border: 1px solid $color-darkblue;
  border-radius: $img-radius;
  margin-left: 0;

  &-title--container {
    background-color: #F0EAEA;
    padding: .1rem 1rem;
    margin-bottom: 1rem;
    height: 5rem;
    display: flex;
    align-items: center;
  }
  
  &--title {
    color: $color-darkblue;
    font-weight: bold;
    border-radius: $img-radius;

  }
  
  &-mode {
    background-color: $color-gray-light;
  }
  
  &-btn {
    background-color: $color-darkblue;
    font-size: 1rem;
    
  }
  
}