
#quarto-margin-sidebar {
  width: 275px;
}

.toc-active {
  background-color: $color-gray-light;
  color: $color-gray-dark-2;
  position: relative;
  top: 8rem;
  font-family: system-ui;
  text-align: left;
  padding: 1rem;
  
  & ul li .nav-link {
    background-color: $color-gray-light;
    text-align: left;
      
    &.active,
    &:hover {
      font-weight: 700;
      color: $color-gray-dark-2;
    }
    
  }
}

#toc-title {
  text-align: left;
  color: $color-gray-dark-2;
  font-size: 1.2rem;
}


