
.toc-active {
  background-color: $color-gray-light;
  color: $color-gray-dark-2;
  position: relative;
  top: 8rem;
  font-family: system-ui;
  text-align: left;
  padding: .5rem .5rem;
  
  & ul li .nav-link {
    background-color: $color-gray-light;
    text-align: left;
      
    &.active,
    &:hover {
      font-weight: 900;
      font-size: .8rem;
      background-color: $color-gray-light;
    }
    
  }
}

#toc-title {
  font-family: system-ui;
  text-align: left;
  color: $color-gray-dark-2;
  font-size: 1.2rem;
}


