/*-- scss:rules --*/
.course-banner {
  background-color: $color-gray-light;
  text-align: center;
  

  &--icon {
    color: $color-darkblue;
    padding-top: 2rem;
  }
  
  &--text {
    color: $color-black;
    text-transform: none;
    text-align: center;
    font-size: 1.1rem;
    font-weight: bold;
  }
  
  &--image {
    max-width: 100%;
  }
  
  &--title {
    margin-top: 1rem;
  }
}


// Course link
.course-link {
  margin-top: 2rem;
  
  &--button {
    align-content: center;
    display: flex;
    max-width: 60%;
    margin: auto;
    justify-content: center;
    background-color: $color-lightred;
    color: $color-darkblue;
    font-size: 1.5rem;
    padding: 1.5rem;
    margin-bottom: 1rem;
  }
  
}

// Course description
.course-description {
  
  margin-top: 2rem;
  
  &--title {
    text-align: center;
  }
  
  &--text {
    color: $color-darkblue;
  }
  
}

// Course contents
.course-curriculum {
  margin-top: 2rem;
 // background-color: $color-gray-light;
}

// Accordion
.accordion-item {
  background-color: $color-lightblue;
  border: 0;
}

.accordion-button,
.accordion-button:focus,
.accordion-button:not(.collapsed) {
  background-color: $color-darkblue;
  font-size: 1rem;
  color: $color-white;
  border-radius: 1rem;
}

.accordion-collapse--course {
  background-color: $color-gray-light;
  color: $color-darkblue;
}

.accordion-header {
  margin-top: 0;
  max-width: 60%;
  position: relative;
  left: 50%;
  transform: translate(-50%);
}

.accordion-body {
  max-width: 60%;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  
  & strong {
    font-size: 1.2rem;
    text-transform: uppercase;
    text-decoration: underline;
  }
  
}

.jumbotron {
  margin-top: 2rem;
  padding: 3rem;
  border-radius: 1rem;
  position: relative; 
  width: 100%;

  &-title {
    position: relative; 
    z-index: 1;
    font-size: 3rem;
  }
  
  &-text {
    z-index: 1;
    color: $color-black;
    position: relative;
    width: 50%;
  }

  &-courses {
    height: 50vh;
    width: 100%;

    // Create an overlay pseudo-element 
    &::after {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-image: url("assets/figures/jumbo.png");
      background-size: cover;
      opacity: 0.25;
      z-index: 0;
    }
  }
}



.card {
  
  &-img--container {
    height: 13rem;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden; // This will ensure the image does not overflow the container 
  }

  &-img--text {
    border-radius: $img-radius;
    max-height: 100%;
    max-width: 100%;
    object-fit: cover; 
  }
  
  &-courses {
    text-align: center;
    padding: 1rem;
    
    & h3 {
      font-size: 1rem;
    }
    
    & p {
      font-size: 0.8rem;
    }
  }
  
}

// Course cards
.card-course {
  
  border: 1px solid $color-darkblue;
  border-radius: $img-radius;
  margin-left: 0;

  &-title--container {
    background-color: #F0EAEA;
    padding: .1rem 1rem;
    margin-bottom: 1rem;
    height: 5rem;
    display: flex;
    align-items: center;
  }
  
  &--title {
    color: $color-darkblue;
    font-weight: bold;
    border-radius: $img-radius;

  }
  
  &-mode {
    background-color: $color-gray-light;
  }
  
  &-btn {
    background-color: $color-darkblue;
    font-size: 1rem;
    
  }
  
}