/*-- scss:variables --*/
$light-main-color: #fff;
$color-note: #0F5257;
$color-tip: #A0E8AF;
$color-caution: #EC7505;
$color-warning: #FFCF56;
$color-important: #FF5D73;

$color-white: white;
$color-green-light: #C5F8C9;
$color-green-dark: #63B22F;
$color-gray-light: #F5F5F5;
$color-gray-dark: #777;
$color-black: #0C0F1F;
$color-darkblue: #2D4156;
$color-lightblue: #A3D1D5;
$color-lightblue-2: #DBEBEA;
$color-lightred: #FAA6A6;
$color-orange: #F05C28;

/*-- scss:defaults --*/
// Inline code
$code-bg: #A3D1D5;
$code-color: #2D4156;
$font-family-monospace: 'Cascadia Code', Courier, monospace;
// Colors
$link-color: $color-orange;
// Code blocks
$code-block-border-left-size: 10px;
$code-block-bg: #CCDDE2;
$code-block-border-left: #433E3F;
// Callouts
$callout-color-note: $color-note;
$callout-color-tip: $color-tip;
$callout-color-caution: $color-caution;
$callout-color-warning: $color-warning;
$callout-color-important: $color-important;

