
// Align categories
.quarto-title .quarto-categories {
  justify-content: center;
}

// Code
div.sourceCode {
  padding: .3rem;
}

.sourceCode {
  border-radius: 3px;
  padding: 0.5em;
  overflow: auto;
}

.cell-output.cell-output-stdout {
    background-color: $color-lightblue-2 !important;
    border: 2px solid $color-gray-dark;
}
