

body{
    font-weight: 400;
    /*font-size: 16px;*/
    line-height: 1.7;
    color: $color-gray-dark;
    padding: 3rem;
    text-align: justify;
}

.heading-primary {
  
    color: $color-black;
    text-transform: uppercase;
    backface-visibility: hidden;    // Avoid shaking of animations 
    margin-bottom: 8rem;
    
    &--main {
      
      display: block;
      white-space: nowrap;              //Text in one line
      font-weight: 700;
      animation: titleAnimation 1s ease-out;
      
      &--big {
        font-size: 3rem;
        letter-spacing: 1rem;
      }
      
      &--small {
        font-size: 1.2rem;
      }

    }

    &--sub {
      
      display: block;
      font-weight: 400;
      animation: subtitleAnimation 1s ease-out;
      
       &--big {
        font-size: 1.5rem;
      letter-spacing: 0.5rem;
      }
      
      &--small {
        font-size: 0.7rem;
      }

    }

}


// Figures
.figure-caption  {
  text-align: center;
}

// Titles border
h2:not(#toc-title){
    border-left: 1rem solid $color-gray-dark-2;
    border-bottom: .2rem solid $color-gray-dark-2;
    padding-left: 1rem;
}