@import "abstracts/functions";
@import "abstracts/mixins";
@import "abstracts/variables";

@import "base/animations";
@import "base/base";
@import "base/typography";
@import "base/utilities";

@import "components/button";
@import "components/header";
@import "components/navbar";

@import "pages/home";
@import "pages/news";
@import "pages/courses";





// Text of the navbar: home, projects...


.quarto-title {
  display: block;
  text-align: center;
}

.quarto-title-banner {
  
  margin-top: 1rem;
  
  & h1.title {
    color: $color-white;
  }
}